<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel = "stylesheet" type="text/css" href="home-guest.component.css">
  <link rel="icon" href="../../assets/governmentLogo.png">
  <title>eUprava</title>
</head>
<body>
  <div class="topLayout">
    <div class="topLayout-list-container-left">
      <ul id="topLayout-list-left">
        <li class="list-parameter" id="list-parameter-1">Грађани</li>
        <li class="list-parameter" id="list-parameter-2">Привреда</li>
        <li class="list-parameter">Држава</li>
      </ul>
    </div>
    <div class="topLayout-list-container-right">
      <ul id="topLayout-list-right">
        <li class="list-parameter" id="settings-parameter">Подешавања</li>
        <li class="list-parameter" id="letters-parameter">Ћирилица <span id="falling-menu-arrow">▼</span></li>
      </ul>
    </div>
  </div>
  <div class="headerLayout">
    <a href="home-guest.component.html" id="logo-government-href"><img src="../../assets/governmentLogo.png" alt="logo-government" id="logo-government"></a>
    <div class="logo-text-container">
      <a href="home-guest.component.html" id="logo-text">euprava.gov.rs</a>
    </div>

  </div>
</body>
</html>
